@media (max-width: 850px) {

    .logo  {
        width: 50%;
    }

    .titulo {
        font-size:x-large;
}

    .padre .resumen1 {

        font-size: 12px;
        font-weight: 700;
        padding: 10px; 
        
    }

    .foto-main1 {

        width: 300px;
        margin: 20px;
    }

    .main-cartelera .res-cartelera {
        font-size:16px;
    }

    .main-entradas .v-entradas {
        font-size: 16px;
    }

    .main-entradas .card-text {
        font-size: small;
    }

    .h2-galeria {
        font-size: 20px;
    }
    
    .carrusel {
        margin-bottom: 130px;
    }
    

    }

@media ( max-width: 768px) {
    .d-r {
        font-size: 10px;  
    }

    .maps {
        width: 100px;
    }

}