.main-cartelera {
    height: 1000px;


.video-cartelera {

    height: 300px;
    width: 400px;
    padding: 0;
    margin: 50px 0 40px 40px;
    border: 2px solid $color-principal;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}

.res-cartelera {
    font-family: $fuente-principal;
    font-size: $tamanio-parrafo;
    font-weight: 400;
    margin: 40px;
    width: 80%;
}

}