
.precios {
    margin: 20px;
    font-size: x-large;

}

.entradas {
    border: 2px solid maroon;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin-right: 70px;
}

p {
    font-size: $tamanio-parrafo;
    font-family: $fuente-principal;
    font-weight: 400;
}

.subtitulo {
    font-family: $fuente-principal;
    color: $color-principal;
    text-align: center;
}

.v-entradas {
    text-align:justify;
}

