* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



header {
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100%;
    width: 100%;
    border: 2px solid maroon;

}


h1 {
    color: maroon;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 42px;
    text-align: center;
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: maroon;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin: 20px 30px;
    text-shadow: 1px 1px 10px;

}

body {
    background-color: beige;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin-top: 50px;
    padding: 10px 0px;
}

.main-index img {
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    border: 2px solid maroon;
    height: 50px;
}

/* primer articulo */

.articulo1 {
    display: grid;
    grid-template-areas:
        "resumen resumen-img";

}

.resumen {
    padding: 0px 100px 0px 100px;
    text-align: justify;
    font-size: 30px;
    font-weight: 400;
    width: 100%;
}

.fondo-del-festival {
    display: inline-block;
    height: 100%;
    width: 80%;
}



.articulo2 {
    display: grid;
    grid-template-areas:
        "resumen-img resumen-img resumen";
}

.convocatoria {
    display: inline-block;
    height: 100%;
    width: 100%;

}

.maps {
    height: auto;
    width: 150px;
}





.video-cartelera {
    height: 800px;
    width: 1600px;
    margin-top: 20px;
    border: 2px solid maroon;
    border-radius: 20px;
    box-shadow: 10px 10px 10px grey;
}

.artistas {
    font-weight: 700;
    margin: 20px;
}


.historia {
    margin-top: 60px;
}

.contactenos {
    margin-top: 50px;
}

.comentarios {
    margin: 40px 0 0 0;
    border-radius: 10px;
    border-style: none;
}

.precios {
    margin: 20px;
    font-size: x-large;

}

.ventas {

    display: flex;
    flex-direction: row;
}

.entradas {
    border: 2px solid maroon;
    border-radius: 10px;
    box-shadow: 10px 10px grey;
}

.logo {
    height: 100%;
}

.padre {
    height: 100vh;
    display: grid;
    grid-template-rows: 147px auto 80px;
}

.main-index {
    margin: 20px;
}

.main-contacto {
    height: 1000px;
}

.main-entradas {
    height: 1000px;
}



.row {
    display: grid;
    grid-template-columns: auto;
    margin: 20px;
}

.btn {
    background-color: maroon;
    margin: 20px 0 0 0px;
}

.btn:hover {
    border: 1px solid maroon;
}


@media (max-width: 576px) {

    header{
        height: max-content;
    }
    ul {
        text-align: center;
        padding: 10px 0;
    }
    ul li {
        display: block;
        margin: 5px;
    }

    .logo {
        width: 60%;
    }

    .titulo {
        font-size: 20px;
    }

    main {
        padding: 3rem;
    }

    .resumen {
        grid-area: resumen;
        padding: 0;
        font-size: smaller;
        margin: 0;
    }

    .fondo-del-festival {
        grid-area: resumen-img;
        margin: 0;
        max-width: 100%;

    }
    .convocatoria{
        grid-area: resumen-img2;
        margin: 0;
        max-width: 100%;
        max-height: 100%;
    }
    .articulo1 {
        grid-template-areas: "resumen"
            "resumen-img";
        text-align: center;
    }
    .articulo2{
        grid-template-areas: "resumen"
        "resumen-img2";
        text-align: center;
    }
    .resumen,
    .fondo-del-festival,
    .convocatoria {
        width: 100%;
    }

}